@import 'variables'; 

body {
  background: linear-gradient(113deg, var(--background-color-one), var(--background-color-two));
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100dvw;
}

* {
    border: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

p {
  font-size: 1rem;
  font-weight: 200;
}

.button {
  background: var(--button-background-color);
  border: 1px solid var(--button-border-color); 
  border-radius: 100px;
  color: var(--button-text-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;  
  height: fit-content;
  padding: .5rem 3rem;
  transition: 
    background var(--transition-duration) ease-in-out,
    color var(--transition-duration) ease-in-out;
  width: fit-content;

  &:hover {
    background: var(--button-background-color-hover);
    color: var(--button-text-color-hover);
  }
}

.text-input {
  border-radius: 4px;
  color: black;
  font-size: 1rem;
  height: 3rem;
  max-width: 70%;
  padding: 0 .8rem;
  width: 100%;

  &::placeholder {
    font-size: 1rem;
  }
  
  @media (min-width: $xs) {
    height: 2.5rem;
    max-width: 15rem;
  }
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  text-align: center;
}