:root {
  --background-color-one: #02073E;
  --background-color-two: #00458E;

  --text-color: #fff;

  // Transition
  --transition-duration: .4s;

  // Button
  --button-background-color: #ffffff00;
  --button-background-color-hover: #fff;
  --button-border-color: #fff;
  --button-text-color: #fff;
  --button-text-color-hover: #000;
}
