:root {
  --background-color-one: #02073E;
  --background-color-two: #00458E;

  --text-color: #fff;

  // Header
  --header-height: 5rem;

  // Transition
  --transition-duration: .4s;
  
  // Button
  --button-background-color: #ffffff00;
  --button-background-color-hover: #fff;
  --button-border-color: #fff;
  --button-text-color: #fff;
  --button-text-color-hover: #000;
  
}

// Screen
$xxs: 380px; /* Extra, extra small screens */
$xs: 500px; /* Extra small screens */
$m: 768px; /* Medium screens (typically tablets) */
$l: 992px; /* Large screens (desktop) */
$xl: 1400px; /* Extra large screens */
$xxl: 1600px; /* Extra, extra large screens */
